
.custom-width {
    max-width: 60%;
}
.label-text{
    text-align: left;
}
.custom-dropdown{
    background: transparent;
    color: black;
    border: 1px solid #382727;
}
.modal-dialog {
    
    margin-right: auto;
    margin-left: auto;
}