.hr-line {
    width: 85%;
    margin: 7px 0px;
}

.accordion-button:not(.collapsed) {
    background-color: transparent;
}

.card {
    @media (max-width: 991px) and (min-width: 768px) {
        width: 15rem;
    }
}
.active-menu {
    color: rgb(54 54 63 / 84%);
    font-weight: bold;
}

.active-menu {
    color: #8fd1f9;
}
.custom-item-list{
    @media (max-width: 768px) {
        margin-top: 30px !important;
    }
}
.add-folder-text {
    @media (max-width: 1204px) and (min-width: 768px) {
        margin-right: 56px !important;
    }
}
.add-org-text {
    @media (max-width: 1204px) and (min-width: 768px) {
        margin-right: 10px !important;
    }
}
.xxx {
    opacity: 0.1 ;
}
