
.hr-line{
    width: 85%;
    margin: 0.5em auto;
}

.accordion-button:not(.collapsed) {
    background-color: transparent;
}

.card
{
    @media(max-width:991px) and (min-width:768px) {
        width: 15rem;;
    }
}
.active-menu{
    color: #455fe1;
}


