.all-items {
    background-color: #4bb4f69e;
    color: rgb(54 54 63 / 84%);
    font-weight: 600;
    font-size: 20px;
}

.dropdown-list {
    font-size: 15px;
}

.small-checkbox {
    transform: scale(0.8);
    margin-right: 5px;
}
