.all-items {
    background-color: #4bb4f69e !important;
    color: rgb(54 54 63 / 84%) !important;
    font-weight: 600 !important;
    font-size: 20px !important;
}

.dropdown-list {
    font-size: 15px;
}

.small-checkbox {
    transform: scale(0.8);
    margin-right: 5px;
}

.add-modal-button {
    background-image: linear-gradient(
        to right,
        #787e81 0%,
        #3252aba6 51%,
        #4e8aed 100%
    );
    padding: 5px 10px;
    border-radius: 0.5em;
    border: none;
    color: #ffffff;
}

.is-blur {
    opacity: 0.5; 
}

