// Variables
$primary-color: #007bff;
$font-family: sans-serif;

.login-page {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 25px;

  @media (max-width: 768px) {
    flex-direction: column;
  }
}

.right-section {
  width: 50%;
  background: rgba(229, 229, 229, 0.41);
  flex: 1; // Allow the right section to grow
  max-height: 100vh; // Set a maximum height
  img{
    height: auto;
    max-width: 100%;
  }
}

.left-section {
  width: 365px;
  flex: 1; // Allow the right section to grow
  max-height: 100vh; // Set a maximum height
  // margin: 8em auto;
  padding: 20px 50px;
  // border: 1px solid #ccc;
  // border-radius: 5px;
  display: flex;
    flex-direction: column;
    justify-content: center;
  background-color: #ffffff;

  // Responsiveness
  @media (max-width: 575px) {
    width: 60%;
    padding: 20px ;
  }
}



.form-top-section {
  display: flex;
    align-items: center;
    gap: 0.5em;
    justify-content: center;
}

// Form styles
.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-sizing: border-box;
}

.bottom-section {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    
    button {
        background-color: $primary-color;
        color: white;
        padding: 10px 20px;
        border: none;
        border-radius: 3px;
        cursor: pointer;
        width: 100%;
        box-sizing: border-box;
      
        &:hover {
          background-color: darken($primary-color, 10%);
        }
      }
}

